*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    background-color: #FAFAF9;
    font-family: "Sora";
}
.container{
    display: flex;
    justify-content: end;
    padding: 80px 80px;
}
