*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: "Sora";
}
.container{
    display: flex;
    padding: 100px;
    background-color: #FAFAF9;
}
.lado_izquierdo{
    justify-content: start;
    align-items: start;
    padding:30px;
    width: 840px;
}
.estrella{
    width: 10%;
    padding-bottom: 15px;
}
h1{
    size: 36px;
    padding-bottom: 15px;
}
.contenido{
    size: 20px;
    padding-bottom: 15px;
    padding-right: 100px;
    color: #52525A;
}
ol{
    list-style-type: none;
}
li{
    color: #52525A;
}
.check{
    filter: contrast(100%) sepia(2) hue-rotate(120deg) saturate(900%);
    padding-right: 10px;
}
.lado_derecho{
    flex-direction: column;
    padding: 60px;
    width: 600px;
}

.tarjeta{
    width: 300px;
}
.tar_1{
    position: absolute;
    top: 140px;
    right: 100px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 20px;
}
.amarilla{
    filter: contrast(40%) sepia(1) hue-rotate(20deg) saturate(4000%);
}
.logo{
    width: 30%;
}

.tar_2{
    position: absolute;
    top: 330px;
    right: 320px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 20px;
}
.nombre{
    padding-top: 10px;
}
.opinion{
    color: #52525A;
    padding-top: 20px;
}